# Copia este archivo como .env.render (no lo subas a Git) y completa los valores.
# Luego ejecuta: .\run-render.ps1

SPRING_PROFILES_ACTIVE=render
SPRING_DATASOURCE_URL=jdbc:postgresql://dpg-d8bpcp4m0tmc73eoea0g-a.oregon-postgres.render.com:5432/trabajo_final_m90z?sslmode=require
SPRING_DATASOURCE_USERNAME=trabajo_final_m90z_user
SPRING_DATASOURCE_PASSWORD=PEGA_AQUI_LA_PASSWORD_DE_RENDER
CORS_ALLOWED_ORIGIN_PATTERNS=http://localhost:4200,https://*.onrender.com
JWT_SECRET=cambia-esto-por-una-cadena-larga-y-segura
